/Proposal/proposal.aux
/Proposal/proposal.bbl
/Proposal/proposal.blg
/Proposal/proposal.log
/Proposal/proposal.synctex.gz

/Thesis/*.aux

/Thesis/*.log
/Thesis/*.gz

/Thesis/Main.bcf
/Thesis/Main.lof
/Thesis/Main.out
/Thesis/Main.run.xml
/Thesis/Main.toc

/Kinect Code/Makefile.inc
/Kinect Code/openni/__MACOSX/openni/._.DS_Store
/Kinect Code/openni/openni/.DS_Store
/Kinect Code/openni/openni/Makefile
/Kinect Code/openni/openni/NiTE.ini
/Kinect Code/openni/openni/README
/Kinect Code/openni/openni/debug.test
/Kinect Code/openni/openni/log_openni.lua
/Kinect Code/openni/openni/lua_openni.cpp
/Kinect Code/openni/openni/openni.so
/Kinect Code/openni/openni/test_openni.lua
/richaAgrawal.tex

/Thesis/Main.bbl
/Thesis/Main.blg
/Thesis/bibtex/bib/Figures.bib
/Thesis/bibtex/bib/Misc.bib~
/Thesis/bibtex/bib/Misc.bib~2
/Thesis/figures/09-04-GPU-Architecture-Overview.pptx
/Thesis/figures/09-09-CUDA-Introduction-1-of-2.pptx
/Thesis/figures/09-11-CUDA-Introduction-2-of-2.pptx
/Thesis/figures/09-23-CUDA-Performance.pptx
